.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spin 1s linear infinite;
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
