.header {
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.header__input {
  width: 100%;
  background: #f7f7f8;
  border-radius: 16px;
  padding: 12px 45px;
  margin-bottom: 8px;
}

.header__input:focus {
  border: 1px solid rgb(185, 149, 149);
}

.sortIcon {
  position: absolute;
  top: 55px;
  right: 15px;
  cursor: pointer;
}

.searchIcon {
  position: absolute;
  top: 56px;
  left: 15px;
}
